 <header class="container-outer" fxLayout="row" fxLayoutAlign="space-between center" fxShow.gt-sm fxHide.lt-sm> 
	 <div class="container" fxFlex="20">
		<div class="box">	
			<img src="assets/icons/cb-logo-2.png" style="height:44px;">	 	 
			&nbsp;<span style="font-size: x-large; font-weight: bold; color: #1350F0;">CoinBinance </span>		 		
		</div>	
	</div> 
  <div class="container" fxFlex="60"> 
			<!-- <a [routerLink]="['/row-examples']" routerLinkActive="router-link-active">Examples</a> -->
			<div class="container-toolbar-inner topnav" id="myTopnav">
				<a href="#home">Home</a>
				<a href="#news">Trading</a>
				<a href="#contact">News</a>				 
				<a href="#about">Tools</a>			 
			  </div>	
	</div>  
  
	<div class="container" fxFlex="20">	 
		<div class="container-login-inner">	
			<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
				<mat-icon>search</mat-icon>
			</button>	
			<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
				<mat-icon>notifications</mat-icon>
			</button>
			<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
				<mat-icon>account_circle</mat-icon>
			</button>
			<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
			<mat-icon>more_vert</mat-icon>
			</button>
		</div>
	</div>	 
</header>

<header class="container-outer" fxLayout="column" fxLayoutAlign="center stretch" fxShow.lt-sm fxHide.lt-xl>
	<div class="container">
		<div class="container-inner">
			<a [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
		</div>
	</div>
	<div class="container">
		<div class="container-inner">
			<a [routerLink]="['/row-examples']" routerLinkActive="router-link-active">Examples</a>
		</div>
	</div>
	<div class="container">
		<div class="container-inner">
			CELL PHONE HEADER
		</div>
	</div>
</header>

<!-- <header class="container-outer" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center stretch">
	<div class="container" fxFlex="20">
		<div class="container-inner">
			<a [routerLink]="['']" routerLinkActive="router-link-active">Home</a>
		</div>
	</div>
	<div class="container" fxFlex="80" fxFlexOrder.lt-sm="3">
		<div class="container-inner">
			Search field component goes here
		</div>
	</div>
	<div class="container" fxFlex="20" fxFlexOrder.lt-sm="2">
		<div class="container-inner">
			<a [routerLink]="['/row-examples']" routerLinkActive="router-link-active">Examples</a>
		</div>
	</div>
</header> -->