 
<mat-card class="example-card">
    <mat-card-header> 
      <mat-card-title>Cryptocurrency, for here or to Go</mat-card-title> 
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <!-- <a [routerLink]="['cryptocurrency-for-here-or-to-go']" routerLinkActive="router-link-active"> -->
         <img mat-card-image src="assets/images/coins/medium/pexels-worldspectrum.jpg" alt="Photo of a Cryptocurrency">
    <!-- </a> -->
    <mat-card-content>
      <p>
        <a [routerLink]="['cryptocurrency-for-here-or-to-go']" routerLinkActive="router-link-active">
        This article explains various use cases of various cryptocurrencies and their future growth scope.
    </a> 
      </p>
    </mat-card-content>
     
  </mat-card>


<router-outlet></router-outlet>