.example-container {
    width: 450px;
    height: 900px;
    margin: 10px;
   // border: 1px solid #555;
  }
.maginleft{
  margin-left: 50px;
}
  table {
    width: 100%;
  }

  .example-card {
    max-width: 400px;
  }

   .mat-column-headline {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 1 !important;
     width: 100% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
     word-break: break-word;
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto; 
     hyphens: auto;
   }
   
   .mat-column-newsimage {
     word-wrap: break-word !important;
     white-space: unset !important;
     flex: 0 0 25% !important;
     width: 25% !important;
     overflow-wrap: break-word;
     word-wrap: break-word;
   
     word-break: break-word;
   
     -ms-hyphens: auto;
     -moz-hyphens: auto;
     -webkit-hyphens: auto;
     hyphens: auto;
   }
   