<header class="container-outer" fxLayout="row" fxLayoutAlign="space-between center" fxShow.gt-sm fxHide.lt-sm> 
    <div class="container" fxFlex="15">
       <div class="box">	
           <img src="assets/icons/cb-logo-2.png" style="height:44px;">	 	 
           &nbsp;<span style="font-size: x-large; font-weight: bold; color: #1350F0;">CoinBinance </span>		 		
       </div>	
      
   </div> 
   <div class="container" fxFlex="10">	
       <span style="font-family:Courier; color:Blue; font-size: 20px;">Kinu  |  </span> 		
   </div>	
   <div class="container" fxFlex="75"> 
           <!-- <a [routerLink]="['/row-examples']" routerLinkActive="router-link-active">Examples</a> -->
           <div class="container-toolbar-inner topnav" id="myTopnav">				 
               <a [routerLink]="['howto']" routerLinkActive="router-link-active">How To</a>
               <a [routerLink]="['blog']" routerLinkActive="router-link-active">Blog</a>			 
             </div>				 
   </div>  
 
   
</header>