// .example-card {
//     min-width: 100px;
//     min-height:100px;
//   }

//   .flex-card-container{   
    
//     //max-width: 1250px;
//     min-height:120px;
//     display:flex;
//     // display: -webkit-flex;
//     flex-direction: row; 
//     overflow-x: auto;
//     justify-content: center;//space-around;    
//   }
  
//   .flex-card-child{  
//     flex:1,1,auto;///grow, shrink, basis      
//   }
  
.wrapper {
  max-height: 120px;
  border: 1px solid cyan;
  display: flex;
  overflow-x: auto;
}

.wrapper .item {
  min-width: 110px;
  height: 110px;
  line-height: 110px;
  text-align: center;
  background-color: beige;
  margin-right: 15px;
  margin-top: 10px;
}
  
.wrapper::-webkit-scrollbar{
  width: 0;
}