.example-container {
    width: 600px;
    height: 500px;
    margin: 10px;
    border: 1px solid #555;
  }

  table {
    width: 100%;
  }

  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }