<div class="example-button-row">
  <div class="example-flex-container">
    &nbsp;<img src="assets/icons/cb-logo-2.png" width="50" height="50"/>&nbsp; &nbsp; <h1 style="color:deepskyblue">CoinBinance</h1>
    <div class="example-button-container">
     
  </div>
  </div>
</div>



<!-- <div style="background-color: paleturquoise;"> 
  <section>
      <div class="example-label">Mini FAB</div>
      <div class="example-button-row">
        <div class="example-flex-container">
          <div class="example-button-container">
            <button mat-mini-fab color="primary" aria-label="button with a menu icon">
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-mini-fab color="accent" aria-label="button with a plus one icon">
              <mat-icon>plus_one</mat-icon>
            </button>
          </div>
          <div class="example-button-container">
            <button mat-mini-fab color="warn" aria-label="button with filter list icon">
              <mat-icon>filter_list</mat-icon>
            </button>
          </div>
        
          <div class="example-button-container">
            <button mat-mini-fab  aria-label="warn icon">
              <mat-icon matBadge="15" >home</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>
</div> -->