.example-card {
    max-width: 35px;
    max-height:35px;
  }

  .flex-card-container{   
    display:flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;//space-around;    
  }
  
  .flex-card-child{  
    flex:1,1,auto;///grow, shrink, basis      
  }
  