 <!-- <div class="flex-card-container" style="background-color: whitesmoke; height: 70px;">
    <mat-card class="example-card">
        <mat-card-content>   
            KRX   
        </mat-card-content>   
    </mat-card>
    <mat-card class="example-card">
        <mat-card-content>   
            JPY   
        </mat-card-content>   
    </mat-card>
    <mat-card class="example-card">
        <mat-card-content>   
            EUR   
        </mat-card-content>   
    </mat-card>
</div> -->
<!-- 
<div class="wrapper">
    <ul *ngFor ="let todo of todos">     
        <mat-card  class="item"> 
          <mat-card-subtitle>{{todo.title}}</mat-card-subtitle> 
        </mat-card> 
    </ul>
  </div>
<div> -->


    <div class="wrapper">
        <div class="item">BTC</div>
        <div class="item">ETH</div>
        <div class="item">NEO</div>
        <div class="item">DODGE</div>
        <div class="item">MONERO</div>
        <div class="item">BNT</div>
        <div class="item">GRT</div>
        <div class="item">BCH</div>
    </div>
