.example-card {
    min-width: 100px;
    min-height:100px;
  }

  .flex-card-container{   
    
    //max-width: 1250px;
    min-height:120px;
    display:flex;
    // display: -webkit-flex;
    flex-direction: row; 
    overflow-x: auto;
    justify-content: center;//space-around;    
  }
  
  .flex-card-child{  
    flex:1,1,auto;///grow, shrink, basis      
  }
  