<app-header></app-header>

<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="start stretch">
	<div class="container-outer" fxFlex="5" fxFlex.md="15">		  
		   <!-- <app-home></app-home>  -->
	</div>
	<div class="content container-outer" fxFlex="70" fxFlex.md="55">	 
		<app-coinlist></app-coinlist>
	</div> 
	<div class=" container-outer" fxFlex="25" fxFlex.md="25">		
		<div fxLayout="column" fxLayout.lt-md="row" fxLayoutAlign="space-between start" fxLayoutAlign.lt-md="start stretch">
			<div class=" container-outer" fxFlex="20" fxFlex.md="15">
				<app-announcement></app-announcement>
			</div>				
			<div class="container-outer" fxFlex="20" fxFlex.md="15">
				<app-coinwatch></app-coinwatch>
			</div>	
			<div class="container-outer" fxFlex="20" fxFlex.md="15">
				<app-news></app-news>
			</div>		
		</div>  		
  </div>
</div>
 
<app-footer></app-footer>


 
 