 <footer class="container-outer" fxLayout="row" fxLayoutAlign="space-between start" ><!--fxShow.gt-sm fxHide.lt-sm -->
	<div class="container" fxFlex="80">@Copyright CoinBinance</div>
	<div class="container" fxFlex="20">Email: admin@coinbinance.com</div>
</footer>
<!-- <footer class="container-outer" fxLayout="column" fxLayoutAlign="center stretch" fxShow.lt-sm fxHide.lt-xl>
	<div class="container" fxFlex="80">Copyright Outer container</div>
	<div class="container" fxFlex="20">Links Outer Container</div>
</footer> -->